/* Core */
@import url("styles/core/base.css");
@import url("styles/core/interactive-elements.css");
@import url("styles/core/logo.css");

/* Gameplay */
@import url("styles/gameplay/puzzle-colors.css");
@import url("styles/gameplay/header.css");
@import url("styles/gameplay/grid.css");
@import url("styles/gameplay/range.css");
@import url("styles/gameplay/cells.css");
@import url("styles/gameplay/toasts.css");
@import url("styles/gameplay/puzzle-nav.css");
@import url("styles/gameplay/slider.css");
@import url("styles/gameplay/keyboard.css");

/* Modals */
@import url("styles/modals/dialog.css");
@import url("styles/modals/splash.css");
@import url("styles/modals/ftue.css");
@import url("styles/modals/archive.css");
@import url("styles/modals/results.css");


/* [data-game-state="idle"] */
/* [data-game-state="running"] */
/* [data-game-state="paused"] */
/* [data-game-state="done"] */