@import url("../../../resolved/extended_tokens.css");
@import url("../../general_styling/styles.css");
@import url("../../token_switcher/switcher.css");
@import url("../../swatch_maker/swatch_maker.css");
@import url("../../typographic_styles/typography.css");



#typography-sections {
  &::after {
    width: 100%;
    height: var(--unit-48);
    background: var(--background-subtle);
    border-bottom: unset;
    border-radius: var(--radius-relaxed);
  }
}

.typography-controls{
  margin-top: var(--spacing-x8);
  div{
    box-shadow: unset;
  }
}



.token-swap{
  /* background-color: var(--background-default); */
  border: unset;
  padding: unset;
   margin-top: var(--spacing-x12);
}

/* .token-swap,
.typography-controls {
  margin-inline: unset;
} */


.zeroheight-demo {
  padding: unset !important;
  margin-top: var(--unit-72) !important;

  .text-group-heading {
    display: none;
  }

  .text-group {
    gap: var(--spacing-x64) var(--spacing-x16);
  }

  .text-sample {
    padding-inline: var(--spacing-x16);
  }

  .grid {
    margin: var(--spacing-x16);
  }


  [data-group="display"],
  [data-group="headline"],
  [data-group="uppercase"] {
    .text-parent {
      min-width: 240px !important;
    }

    [data-group="subheadline"],
    [data-group="body"] {
      .text-parent {
        min-width: unset !important;
      }
    }
  }
}