@import url("../../../resolved/extended_tokens.css");
@import url("../../general_styling/styles.css");
@import url("../../token_switcher/switcher.css");
@import url("../../swatch_maker/swatch_maker.css");
@import url("../../typographic_styles/typography.css");

.token-swap,
.typography-controls {
  margin-inline: unset;
}


.zeroheight-demo {
  padding: unset !important;
  margin-top: var(--unit-96) !important;

  .text-group-heading {
    display: none;
  }

  .text-group {
    gap: var(--spacing-x16);
  }

  .text-sample {
    padding-inline: var(--spacing-x16);
  }

  .grid {
    margin: var(--spacing-x16);
  }


  [data-group="display"],
  [data-group="headline"],
  [data-group="uppercase"] {
    .text-parent {
      min-width: 240px !important;
    }

    [data-group="subheadline"],
    [data-group="body"] {
      .text-parent {
        min-width: unset !important;
      }
    }
  }
}