@import url("../../../resolved/extended_tokens.css");
@import url("../../general_styling/styles.css");
@import url("../../token_switcher/switcher.css");
@import url("../../swatch_maker/swatch_maker.css");

#switch-fontTheme,
#switch-breakpoint {
  display: none;
}

body{
    margin: var(--layout-grid-margin);
    margin-top: var(--spacing-x96);

}
