@import url("../../../resolved/extended_tokens.css");
@import url("../../general_styling/styles.css");
@import url("../../token_switcher/switcher.css");
@import url("../../swatch_maker/swatch_maker.css");

#switch-fontTheme,
#switch-breakpoint {
  display: none;
}

body{
    margin: var(--spacing-x16);
    margin-top: var(--spacing-x96);
}

/* .grid{
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
} */

.expander .swatch * { transition: none !important; }
