@import url("../../../resolved/extended_tokens.css");
@import url("../../general_styling/styles.css");
@import url("../../token_switcher/switcher.css");
@import url("../../swatch_maker/swatch_maker.css");

#switch-fontTheme,
#switch-breakpoint {
  display: none;
}

body {
  margin: var(--spacing-x16);
  margin-top: var(--spacing-x96);
}





/* styles for alternate color display */

.color-sets {
  margin-top: var(--unit-96);
  gap: var(--layout-grid-gutter);
  /* margin-inline: unset; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));

  .grid {
    display: flex;
    flex-direction: column;

    .description {
      height: var(--unit-96);
      overflow: hidden;

      p {
        color: var(--foreground-muted);
        margin-top: var(--spacing-x4);
      }
    }
  }

  .card,
  .expander {
    display: flex;

    .info {
      width: 100%;
      padding-bottom: var(--spacing-x8);
    }

    .swatch {
      width: var(--spacing-x96);
      height: unset;
      border: unset;
      border-right: 1px solid var(--border-subtle);
    }
  }
}