@import url("../../../resolved/extended_tokens.css");
@import url("../../general_styling/styles.css");
@import url("../../token_switcher/switcher.css");
@import url("../../swatch_maker/swatch_maker.css");

#switch-fontTheme,
#switch-breakpoint {
  display: none;
}

body {
  margin: var(--spacing-x16);
  margin-top: var(--spacing-x96);
}





/* styles for alternate color display */

.color-sets {
  margin-top: var(--unit-72);
  gap: var(--spacing-x72) var(--spacing-x32);
  margin-inline: unset!important;
  overflow: hidden;

  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr)); */
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(min(3, auto-fit), minmax(240px, min(480px, 1fr))); */



  .grid {
    display: flex;
    flex-direction: column;
      min-width: 240px;

    .description {
      height: var(--unit-96);
      overflow: hidden;

      p {
        color: var(--foreground-muted);
        margin-top: var(--spacing-x8);
      }
    }
  }

  .card,
  .expander {
    display: flex;

    .info {
      width: 100%;
      padding-bottom: var(--spacing-x8);
    }

    .swatch {
      width: var(--unit-96);
      height: unset;
      border: unset;
      border-right: 1px solid var(--border-subtle);
    }
  }
}

.system-colors{
  .description {
    height: var(--unit-64)!important;
  }
}

.token-swap{
  margin: unset;
  /* background: var(--background-muted)!important; */
}

.format-switcher{
  top:var(--spacing-x8);
  right:0
}