/* -----------------------------
Slider
----------------------------- */
.game-slider {
    position: relative;
    width: min(1080px, 100%);
    margin: var(--spacing-x24) auto;
    margin-bottom: var(--spacing-x80);
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    width: calc(100% - (var(--layout-grid-margin) * 2));
    max-width: var(--layout-content-md-max);

    * {
        user-select: none;
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

}

body:has(.keyboard.is-visible),
body:has(#showOnscreenKeyboard:checked) {

    .game-slider {
        margin-bottom: var(--spacing-x24);
    }
}

.slider-track {
    position: absolute;
    inset: 50% 0 auto 0;
    height: var(--spacing-x12);
    transform: translateY(-50%);
    border-radius: var(--radius-full);
    overflow: hidden;
    cursor: pointer;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    svg {
        transform: scaleY(1.3);
    }

}

.slider-track .slider-svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
}

.slider-thumb {
    --thumb-scale: 1;
    position: absolute;
    top: 50%;
    width: var(--spacing-x8);
    height: var(--spacing-x24);
    transform: translate(-50%, -50%) scale(var(--thumb-scale));
    transition: transform 160ms ease, box-shadow 160ms ease, background 160ms ease, filter 160ms ease;
    background: var(--foreground-muted);
    border-radius: var(--radius-full);
    box-shadow: 0 0 0 2px var(--background-default);
    cursor: pointer;
    touch-action: none;
    z-index: 2;
    cursor: grab;
}

.slider-thumb:hover,
.slider-thumb:focus-visible,
.slider-thumb:active,
.game-slider.is-grabbing .slider-thumb {
    --thumb-scale: 1.18;
}

.game-slider.is-grabbing .slider-thumb {
    filter: brightness(0.8);
    cursor: grabbing;
    background: var(--foreground-default);
}