/* -----------------------------
Results
----------------------------- */
.results{
    overflow: visible!important;
    height: max-content;
}

.result-heading {
    text-align: center;
}

.resultsTitle {
    margin-bottom: var(--spacing-x4);
}

.results-stats {
    width: 100%;
}

.resultsSubtitle{
    color: var(--foreground-subtle);
    margin-top: var(--spacing-x2);
}

.resultsShareToast,
.splashShareToast {
    top: calc(100% + var(--spacing-x8));
    left: 50%;
    transform: translate(-50%, -8px);
    width: max-content;
}

.resultsShareToast.is-showing,
.splashShareToast.is-showing {
    transform: translate(-50%, 0);
}

.resultsClose {
    position: absolute;
    top: var(--spacing-x8);
    right: var(--spacing-x8);
    border: unset;
    --icon: url("../../images/icons/close.svg");
}

/* -----------------------------
Give Up modal
----------------------------- */

.give-up {
    .modal-actions {
        width: 100%;
    }
}

.giveUpSubtitle {
    margin-top: var(--spacing-x8);

    .giveUpWordsCount,
    .giveUpSeconds {
        color: var(--foreground-default);
    }
}

.modal-actions {
    display: flex;
    justify-content: center;
    gap: var(--spacing-x8);

    .btn {
        flex: 1;
    }

    .resultsShare {
        min-width: 120px;
        min-height: 36px;
        max-width: var(--spacing-x144);
        --icon: url("../../images/icons/share.svg");
        --icon-color: var(--foreground-alt);
        --icon-width: var(--spacing-x16);
    }

}