/* -----------------------------
Results
----------------------------- */
.results {
    overflow: visible !important;
    height: max-content;
}

.result-heading {
    text-align: center;
}

.resultsTitle {
    margin-bottom: var(--spacing-x4);
}

.results-stats {
    width: 100%;
}

.resultsSubtitle {
    color: var(--foreground-subtle);
    margin-top: var(--spacing-x2);
}

.resultsShareToast,
.splashShareToast {
    top: calc(100% + var(--spacing-x8));
    left: 50%;
    transform: translate(-50%, -8px);
    width: max-content;
}

.resultsShareToast.is-showing,
.splashShareToast.is-showing {
    transform: translate(-50%, 0);
}

.resultsClose {
    position: absolute;
    top: var(--spacing-x8);
    right: var(--spacing-x8);
    border: unset;
    --icon: url("../../images/icons/close.svg");
}

.hardMode-stat {
    margin-top: var(--spacing-x8);
    background-color: var(--system-warning-subtle);
    border-color: var(--system-warning-default);
    display: none;

    .stat-label {
        color: var(--system-warning-medium);
        display: flex;
        justify-content: center;
        gap: var(--spacing-x8);

        &::before {
            content: '';
            width: var(--spacing-x32);
            aspect-ratio: 1;
            background-color: var(--system-warning-medium);
            aspect-ratio: 1;
            width: var(--icon-size, var(--spacing-x12));
            -webkit-mask: url("../../images/icons/star.svg") center / contain no-repeat;
            mask: url("../../images/icons/star.svg") center / contain no-repeat;
        }
    }
}

[data-hard-mode="true"]{
    .hardMode-stat{
        display: block;
    }
}


/* -----------------------------
Give Up modal
----------------------------- */

.give-up {
    .modal-actions {
        width: 100%;
    }
}

.giveUpSubtitle {
    margin-top: var(--spacing-x8);

    .giveUpWordsCount,
    .giveUpSeconds {
        color: var(--foreground-default);
    }
}

.modal-actions {
    display: flex;
    justify-content: center;
    gap: var(--spacing-x8);

    .btn {
        flex: 1;
    }

    .resultsShare {
        min-width: 120px;
        min-height: 36px;
        max-width: var(--spacing-x144);
        --icon: url("../../images/icons/share.svg");
        --icon-color: var(--foreground-alt);
        --icon-size: var(--spacing-x16);
    }

}