/* -----------------------------
Splash
----------------------------- */
#pClear {
    display: none;
}

.is-dev {
    #pClear {
        display: block;
    }
}

.splash {
    .dialog__header {
        display: flex;
        justify-content: flex-end;
        z-index: 2;

        >button {
            --icon-size: 100%;
            padding: var(--unit-10);
        }
    }

    .share-btn {
        --icon: url("../../images/icons/share.svg");
        position: relative;
    }

    .splashShareToast{
        left:-4px;
    }

    .settings-btn {
        --icon: url("../../images/icons/settings.svg");
    }

    .splash__main {
        flex: 1;
        display: flex;
        flex-direction: column;
        place-content: center;

        .splash__brand {
            .logo-icon {
                width: 18%;
                max-width: var(--unit-64);
                margin: 0 auto;
            }

            .splash__text {
                text-align: center;
                margin-bottom: var(--spacing-x40);

                .splash__title {
                    margin-block: var(--spacing-x4);
                }

                .splash__subtitle {
                    color: var(--foreground-muted);
                    margin-block: var(--spacing-x2);
                }

                .splash__date {
                    color: var(--foreground-subtle);
                }
            }
        }

        #splashPrimary {
            width: 100%;
            margin-bottom: var(--spacing-x8);
        }

        .splash__row {
            display: flex;
            gap: var(--spacing-x8);

            button {
                flex: 1;
            }
        }
    }

    .splash__actions {
        button {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
            letter-spacing: inherit;
        }
    }

    .splash__footer {

        #splashTutorialBtn {
            color: var(--foreground-muted);
        }

        .splash__stats {
            display: flex;
            gap: var(--spacing-x8);
            margin-block: var(--spacing-x8);
        }

        .credit {
            text-align: center;
            color: var(--foreground-subtle);

            a {
                color: var(--foreground-muted);
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

/* -----------------------------
Splash settings
----------------------------- */
.settings-panel {
    position: absolute;
    top: var(--spacing-x16);
    right: var(--spacing-x16);
    width: min(320px, 90vw);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-soft);
    padding: unset;
    gap: unset;
    background-color: var(--background-muted);
}

.settings-panel[hidden] {
    display: none !important;
}

.settings-panel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-x12) var(--spacing-x8) var(--spacing-x12) var(--spacing-x24);
}

.settings-panel__section {
    padding: var(--spacing-x24);
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-x24);
    border-top: 1px solid var(--border-subtle);
}

.settings-color-mode {
    flex-direction: column;
    gap: var(--spacing-x8);

    .tabs {
        width: 100%;
        background-color: var(--background-subtle);

        .tab {
            flex: 1;
        }
    }
}

.settings-panel__desc {
    color: var(--foreground-muted);
    margin-top: var(--spacing-x4);
}